/* COMMON */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  display: block;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #fff;
  transition: height .5s;
  z-index: 99;

  position: fixed;
  overflow: hidden;
}
header .img-size {
  width: 200px;
  height: auto;
}
header .main-menu {
  display: flex;
}
header .main-menu:hover .sub-menu {
  transition: all .5s .5s; 
}
header .main-menu > li {
  position: relative;
}
header .main-menu > li > a {
  font-size: 12px;
  padding: 0 50px;
  line-height: 100px;
  color: #333;
}
header .main-menu > li:hover > a{
  color: #e0a43c;
  border-bottom: 2px solid #e0a43c;
}
header .main-menu > li:hover > .sub-menu {
  display: block;
}
header .menu-icon  {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 80px;
  height: 80px;
  transform: translateY(-50%);
}
header .sns > ul {
  display: flex;
}
header > a {
  display: none;
}
header .sns > ul > li > a > img{
  width: 40px;
  height: 40px;
  margin: 30px 20px 0 30px;
}
header .sub-menu {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  width: 100%;

  /* display: none; */
  /* background-color: lightgray;
  border: 1px solid #000; */
}
header .sub-menu > li  {
  height: 50px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

header .sub-menu li:hover > .drop-menu {
  display: block;
}
header .drop-menu {
  position: absolute;
  top: 0;
  left: 100px;
  text-align: center;
  cursor: pointer;
}
header .sub-menu > li > a {
  font-size: 10px;
  font-weight: 500;
  color: #999;
  padding-top: 10px;
}
header .sub-menu > li > a:hover {
  color: #e0a43c;
}
header .drop-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 130px;
  text-align: center;
  cursor: pointer;
  width: 100px;
}
header .drop-menu > li  {
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
header .drop-menu > li > a {
  font-size: 20px;
  color: #333;
}
header .drop-menu > li > a:hover {
  color: #e0a43c;
}

/* SLIDER */
.slider {
  height: 800px;
  padding-top: 100px;
  background-color: #f6f5ef;
  position: relative;
}
.slider .slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .swiper {
  flex-shrink: 0;
  width: 100%;
  height: 700px;
}
.slider .swiper-pagination .swiper-pagination-bullet{
  bottom: 40px;
  z-index: 1;
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 10px;
  height: 10px;
  border: 4px solid orange;
  border-radius: 4px;
}
.slider .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.slider .slider-text {
  position: absolute;
  top: 150px;
  left: 80px;
  z-index: 2;
}
.slider .slider-text > h3 {
  font-size: 40px;
  font-weight: 700;
  color: aliceblue;
}
.slider .slider-text > span {
  font-size: 24px;
  font-weight: 300;
  color: aliceblue;
}

/* QUICK */
.quick {
  width: 100%;
  background-color: rgb(198, 211, 234, .7);
}
.quick .inner {
  max-width: 1100px;
  margin: 0 auto;
}
.quick-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.quick .quick-menu > li > a {
  padding: 20px;
}
.quick .quick-menu > li > a > p {
  margin-top: 20px;
}

/* Gallery */
.gallery {
  width: 100%;
  /* height: 900px; */
  background-image: url(../images/background_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 200px;
}
.gallery .inner {
  max-width: 1100px;
  margin: 0 auto;
  /* height: 900px; */
  position: relative;
}
.gallery .inner > h3 {
  font-size: 42px;
  font-weight: 500;
  text-align: start;
  padding: 40px 0 60px;
}
.gallery > .inner > .gallery-tab {
  display: flex;
}
.gallery > .inner > .gallery-tab > ul {
  display: flex;
  position: absolute;
  top: 130px;
  left: -20px;
}
.gallery > .inner > .gallery-tab > ul > li > a {
  color: #333;
  font-weight: 300;
  font-size: 20px;
  padding: 0 20px;
}
.gallery > .inner > .gallery-tab > ul > li > a:hover {
  color: #e0a43c;
  font-size: 26px;
}


.gallery > .inner > .gallery-tab > ul > li::before {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e0a43c;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.gallery > .inner > .gallery-tab > ul > li:first-child:before {
  display: none;
}
.gallery > .inner > .gallery-tab > .gallery-keyword {
  display: block;
    
  line-height: 36px;
  text-align: center;
  margin-bottom: 70px;
  position: absolute;
  top: 80px;
  right: 90px;
  display: flex;
  outline: none;
}
.gallery > .inner > .gallery-tab > .gallery-keyword > p {
  outline: none;
  border: 1px solid #333;
  border-radius: 8px;
}

.gallery > .inner > .gallery-tab > .gallery-keyword .material-icons{
  position: absolute;
  top: 8px;
  right: 0;
  
}
.gallery > .img-box {
  width: 25%;
  display: flex;
}
.gallery .box-img {
  width: 250px;
  height: 250px;
  border: #333 solid 2px;
  border-radius: 8px;
  margin-top: 40px;
  cursor: pointer;
  max-width: 100%;
}
.gallery .box-img:hover {
  border: 1px solid #777;
}
.gallery .btn-box {
  position: absolute;
  bottom: -150px;
  left: 400px;
}
.gallery .btn {
  width: 200px;
  padding: 25px;
  border: 2px solid #333;
  border-radius: 25px;
  color: #333;
  background-color: #c5d9fd;
  text-align: center;
  cursor: pointer;
}
.gallery .btn:hover {
  color: rgb(194, 150, 150);
  background-color: #fff;
}

/* YOUTUBE */
.youtube {
  background-image: url(../images/background_07.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.youtube .you-img {
  width: 500px;
  height: 400px;
}
.youtube .inner {
  max-width: 1300px;
  margin: 0 auto;
}
.youtube .youtube-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

/* NOtice */
.notice {
  padding: 120px 0 80px;
  background-image: url(../images/visual_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.notice .inner {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.notice .notice-img {
  width: 200px;
  height: 200px;
}
.notice .tit {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
  /* text-align: center; */
}
.notice .swiper_3 {
  position: relative;
  width: 450px;
  height: 424px;
  overflow: hidden;
  margin: 0 auto 20px;
}
.notice .swiper-slider {
  width: 450px;
} 
.notice .swiper_3 .swiper-pagination {
  position: absolute;
  right: 0;
  top: 200px;
}
.notice .swiper-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .swiper-list {
  width: 500px;
}
.notice .swiper-list .notice-list{
  width: 500px;
}
.notice .swiper-list .notice-list > li {
  position: relative;
  height: 80px;
  padding-top: 13px;
  border-bottom: 1px solid #cdcdcd;
  font-size: 18px;
}
.notice .swiper-list .notice-list > li:hover {
  background-color: rgb(208, 200, 200);
  color: #fff;
  font-size: 22px;
}
.notice .swiper-list .notice-list > li::after {
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    left: -10px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #4f89d8;
}
.notice .swiper-list .notice-list > li > a {
  color: #333;
}


/* FOOTER */
footer {
  padding: 50px 0 35px;
  background-color: #e4ebf3;
  min-width: 450px;
  max-width: 100%;
  height: auto;

}
footer .page .foot-top .foot-list {
  display: flex;
  justify-content: center;
}
footer .page .foot-top .foot-list li {
  text-align: center;
}
footer .page .foot-top .foot-list > li > h4:first-child:before {
  width: 100px;
}
footer .page .foot-top .foot-list > li > h4:first-child::after {
  width: 100px;
}
footer .page .foot-top .foot-list > li > h4::before {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #013981;
  margin-right: 25px;
  vertical-align: middle;
}
footer .page .foot-top .foot-list > li > h4::after {
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #013981;
  margin-left: 25px;
  vertical-align: middle;
}
footer .page .foot-top .foot-list .sns-box .sns-list {
  display: flex;
  justify-content: space-around;
  gap: 10px ;
}
footer .page .foot-top .foot-list > li > h4 {
  font-size: 25px;
  color: #013981;
  font-weight: 800;
  text-align: center;
}
footer .page .foot-top .foot-list > li > h3 {
  display: block;
  color: #003882;
  font-size: 35px;
  font-weight: 800;
  padding: 35px 0 35px;
}
footer .page .foot-top .foot-list > li > p {
  display: inline-block;
  margin: 35px 0px 30px;
  font-size: 18px;
  font-weight: 800;
}
footer .page .foot-top .foot-list > li > ul {
  display: flex;
  justify-content: space-around;
}

footer .page .foot-top .foot-list > li > ul > li {
  display: block;
  height: 100%;
  color: #003882;
  font-size: 17px;
  font-weight: 800;
  line-height: 45px;
  }
  footer .page .foot-top .foot-list .phone-box .phone-list > li:hover {
    color: #333;
    background-color: #fff;
  }
  footer .page .foot-top .foot-list .phone-box .phone-list > li > a {
    border: 1px solid #333;
    border-radius: 4px;
    width: 120px;
    color: #333;
  }
  footer .page .foot-top .foot-list .service-box .service-list > li:hover {
    color: #333;
    background-color: #fff;
  }
  footer .page .foot-top .foot-list .service-box .service-list > li > a {
    border: 1px solid #333;
    border-radius: 4px;
    width: 120px;
    color: #333;
  }

  footer .foot-bottom {
    height: 200px;
    text-align: center;
    padding-top: 100px;
  }
  footer .foot-bottom > p::before {
    content: "";
    display: inline-block;
    width: 400px;
    height: 1px;
    background-color: #013981;
    vertical-align: middle;
  }
  footer .foot-bottom > p::after {
    content: "";
    display: inline-block;
    width: 400px;
    height: 1px;
    background-color: #013981;
    vertical-align: middle;
  }

  /* SCROLL TO TOP */
  #to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    z-index: 9;
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    
    /* HEADER */
    header .main-menu {
      display: none;
    } 
    header .sns > ul > li > a > img{
      display: none;
    }
    header > a {
      display: block;
    }
    header .img-size {
      width: 150px;
      height: 80px;
      position: absolute;
      top: 20px;
    }
    header  .menu-icon {
      width: 40px;
      height: 40px;
    }
    

    /* SLIDER */
    .slider .slider-text > h3 {
      font-size: 24px;
    }
    .slider .slider-text > span {
      font-size: 12px;
    }

     /* QUICK */
    .quick .inner {
      width: 400px;
    }
    .quick-menu li {
      width: 50%;
    }
    

    /* GALLERY */
    .gallery .inner {
      text-align: center;
    }
    .gallery .inner > h3 {
      font-size: 36px;
    }
    .gallery .img-box {
      width: 70%;
    }
    .gallery .box-img {
      width: 100px;
      height: 100px;
    }
    .gallery .inner .gallery-tab {
      display: none;
    }
    .gallery .btn-box {
      display: none;
    }

    /* YOUTUBE */
    .youtube .youtube-main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .youtube .mountain-video > iframe {
      width: 400px;
      height: 400px;
    }
    .youtube .you-img {
      display: none;
    }

    /* NOTICE */
    .notice .swiper-center {
      flex-direction: column;
    } 
    .notice .swiper-list {
      display: none;
    }
    .notice .swiper_3 .swiper-pagination {
      position: absolute;
      right: 0px;
    }
    
    /* FOOTER */
    footer .page .foot-top .foot-list {
      flex-direction: column;
    }
    footer .page .foot-top .foot-list li {
      margin-top: 30px;
    }  

    #to-top {
      right: 60px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    
    /* HEADER */
    header .main-menu {
      display: none;
    } 
    header .sns > ul > li > a > img{
      display: none;
    }
    header .menu-icon {
      display: block;
    }
    header .sns > ul > li > a > img{
      display: none;
    }
    header > a {
      display: block;
    }

    /* QUICK */
    .quick .inner {
      width: 700px;
    }
    .quick-menu li {
      width: 50%;
    }

    /* GALLERY */
    .gallery .inner {
      text-align: center;
    }
    .gallery .inner .gallery-tab {
      display: none;
    }
    .gallery .img-box {
      width: 70%;
    }
    .gallery .box-img {
      width: 200px;
      height: 200px;
    }
    .gallery .btn-box {
      display: none;
    }

    /* YOUTUBE */
    .youtube .youtube-main {
      /* width: 767px; */
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .youtube .you-img {
      display: none;
    }

    /* NOTICE */
    .notice .swiper-center {
      flex-direction: column;
      width: 40%;
    }
    .notice .swiper-list {
      display: none;
    }
    .notice .swiper_3 .swiper-pagination {
      position: absolute;
      right: 5px;
    }

     /* FOOTER */
    footer .page .foot-top .foot-list {
      flex-direction: column;
    }
    footer .page .foot-top .foot-list li {
      margin-top: 30px;
    }  

  }


  @media screen and (min-width: 1023px) and (max-width: 1270px)  {
    
    /* HEADER */
    header .main-menu li:first-child {
      display: none;
    }
    header .main-menu li:nth-child(5) {
      display: none;
    }
    header .drop-menu {
      position: absolute;
      left: 10px;
      top: 50px;
    }


    /* QUICK */
    .quick-menu li {
      width: 33%;
    }

    /* GALLERY */
    .gallery .inner {
      text-align: center;
    }
    .gallery .inner > h3 {
      text-align: center;
    }
    .gallery .inner .gallery-tab {
      display: none;
    }
    .gallery .box-img {
      width: 20%;
      flex-direction: column;
      flex-wrap: wrap;
      width: 200px;
      height: 200px;
    }
    .gallery .img-box {
      width: 80%;
      flex-wrap: wrap;
      padding: 20px 70px;
      margin: 0 auto;
    }
    .gallery .btn-box {
      display: none;
    }

    /* YOUTUBE */
    .youtube .youtube-main {
      width: 800px;
    }
    .youtube .mountain-image {
      display: none;
    }

    /* NOTICE */
    .notice .swiper-center {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .notice .swiper-list {
      margin-top: 80px;
      width: 40%;
    }
    .notice .swiper_3{
      width: 40%;
      /* position: relative; */
    }
    .notice .swiper_3 .swiper-pagination {
      position: absolute;
      right: 5px;
    }

    /* QUICK */
    .quick-menu li {
      width: 33%;
    }
    
    /* FOOTER */
    footer .page .foot-top .foot-list {
      flex-direction: column;
    }
    footer .page .foot-top .foot-list li {
      margin-top: 30px;
    }  
  }


